
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>
<div class="container fa-border">
    Welcome to Test page's Index
    Welcome to Test page's Index   Welcome to Test page's Index   Welcome to Test page's Index   Welcome to Test page's Index   Welcome to Test page's Index   Welcome to Test page's Index
    Welcome to Test page's Index   Welcome to Test page's Index   Welcome to Test page's Index   Welcome to Test page's Index   Welcome to Test page's Index   Welcome to Test page's Index


    Welcome to Test page's Index
    Welcome to Test page's Index

    Welcome to Test page's Index
    Welcome to Test page's Index
    Welcome to Test page's Index

    Welcome to Test page's Index
</div>
<br />
<br />
<br />
<div>


    <partial name="PartialView1" model="Model" />
    <partial name="PartialView2" model="Model" />

</div>

