
<h1 align="center">Partial View 1 Data</h1>

<script>
        

                    $.ajax({
                           type: "GET",
                            url: "https://jsonplaceholder.typicode.com/posts",
                            data: "{}",
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                              success: function (datas) {
                                  for (var item in datas) {

                                     alert("UserId=" + datas[item].userId + "Title" + datas[item].title);

                                 

                                  }
                              }

                    });

</script>